/* Homepage Style */
#background-video{
height: 100%;
width: 100%;
opacity: 0.8;
}

.app-name {
  position: absolute;
  font-size: 90pt;
  margin-top: 230px;
  color: white;
  z-index: 3;
  box-sizing: border-box;
  margin-left: 17%;
  font-weight: bold;
  /* font-family: Snell Roundhand, cursive */
  font-family: URW Chancery L, cursive
}

#root > div.home-login-button > button {
  position: absolute;
  z-index: 3;
  margin-top: 20%;
  left: 35%;
  width: 170px;
}

#root > div.home-signup-button > button {
  position: absolute;
  z-index: 3;
  margin-top: 20%;
  left: 55%;
  width: 170px;
}

.home-guest {
  position: absolute;
  z-index: 3;
  margin-top: 25%;
  left: 40%;
  width: 370px;
  height: 100px;
}

#root > div.home-guest > button {
  width: 350px;
  height: 100px;
  font-size: 21pt;
}

/*Navbar style*/
#Navbar {
  /* margin-top: 20px; */
  background-color: #454c55;
  font-size: 15pt;
  z-index: 10;
}

#Navbar > a:nth-child(1) {
  color: white;
  z-index: 4;
  border-bottom-color: transparent;
  border-bottom-style: solid;
}

#Navbar > a:nth-child(2) {
  color: white;
  z-index: 4;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  cursor: pointer;
}

#Navbar > div > a {
  color: white;
  z-index: 4;
}

#Navbar > div > div {
  color: white;
  z-index: 4;
}

#Navbar > div.item.active.user {
  text-align: center;
  font-size: 20pt;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-radius: 0;
  align-self: flex-end;
  padding: .85714286em 1.14285714em;
  border-bottom-width: 2px;
  -webkit-transition: color .1s ease;
  transition: color .1s ease;
  z-index: 4;
}

/* SignUpLogIn Style */

/* Login Style */
.Form {
  color: #080e20;
}

.login-form {
  position: absolute;
  margin-left: 15%;
  margin-top: -18%;
}


.login {
  display: inline-block;
  width: 650px;
  height: 500px;
  padding: 60px 15px;
  border: solid #152249 2px;
  border-radius: 10px;
  background-color: #1c2c5b;
  font-family: "Niramit", sans-serif;
  z-index: 3;
  position: absolute;
}

.log {
  margin: 0 135px 20px 135px;
  color: white;
  font-family: "Niramit", sans-serif;
  font-size: 65px;
  text-align: center;
  z-index: 3;
}

.submit {
  margin: 200px;
  color: #080e20;
  font-family: "Niramit", sans-serif;
  z-index: 3;
}

.signup {
  display: inline-block;
  width: 650px;
  height: 500px;
  padding: 60px 15px;
  border: solid #152249 2px;
  border-radius: 10px;
  background-color: #1b1c1d;
  font-family: "Niramit", sans-serif;
  z-index: 3;
  position: absolute;
}

/* MainPage Style */

#root > div.ui.segment.blue.inverted {
  text-align: center;
}

#root > table > tbody > tr > th:nth-child(1) {
  width: 20%;
}

#root > table > tbody > tr > th:nth-child(3) {
  width: 8%;
}

#root > table > tbody > tr > th:nth-child(4) {
  width: 10%;
}

#root > button {
  background-color: #2185d0;
  color: white;
  font-size: 15pt;
  margin-left: 44%;
}

/* chatroom style */
.chat-room-topic {
  width: 1400px;
  position: absolute;
  top: 105px;
  height: 65px;
  left: 150px;
  color: white;
  text-align: center;
  z-index: 4;
  font-size: 24pt;
  padding-top: 22px;
  background-color: #454c55;
  border-top-left-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  border-right-color: transparent;
}

.messages-history {
  position: absolute;
  left: 100px;
  top: 110px;
  width: 50px;
  height: 50px;
  font-size: 20pt;
  z-index: 4;
}

/* newChatForm */
.new-chat-form {
  text-align: center;
}

.new-chat-label {
  font-size: 26px;
}

/* Chat Style */

#root > table > tbody > tr > td.join-btn {
  text-align: center;
}

#root > table > tbody > tr > td.updated-time {
  text-align: center;
}

.chat {
  font-size: 14pt;
}


/* MessageForm Style */

.message-input {
  position: relative;
  margin-top: 30%;
  left: 15%;
  width: 50%;
  height: 10%;
  border: 1px solid lightgray;
  font-size: 20px;
  box-sizing: border-box;
  /* padding-left: 10px; */
  border: 2px solid lightgray;
  border-radius: 5px;
  background-color: #d5dbdb;
  transition: all 0.3s ease 0s;
  }

/* Joiner Style */

.joiner-list {
  position: absolute;
  box-shadow: inset 0px 0px 18px -5px rgba(0,0,0,0.75);
  left: 1200px;
  top: 170px;
  /* right: 15%; */
  width: 350px;
  height: 750px;
  font-size: 20px;
  overflow-y: scroll;
  background-color: #454c55;
  z-index: 4;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  /* opacity: 0.3; */
}

.joiner {
  margin-top: 20px;
  margin-left: 20px;
  border: 1px solid #3399ff;
  border-radius: 15px;
  height: 60px;
  padding-top: 8px;
  padding-left: 10px;
  background-color: #3399ff;
  color: white;
  z-index: 4;
}

/* testing */
.wrapper {
  width: 150px;
  position: absolute;
  top: 150px;
  height: 750px;
  left: 150px;
  margin-top: 20px;
  z-index: 4;
  border-right-color: transparent;
  /* opacity: 0.3; */
}

.wrapper > div.main-container {
  /* z-index: 1; */
  /* position: absolute; */
  display: inline-block;
  padding: 10px 10px;
  width: 1050px;
  height: 100%;
  background: #454c55;
  border-radius: 4px;
  box-shadow: inset 0px 0px 18px -5px rgba(0,0,0,0.75);
  margin-right: -5px;
  border-top-left-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
  border-right-color: transparent;
}

div.main-container > div.message-area {
  margin-bottom: 10px;
  width: 100%;
  height: 650px;
  margin-top: 5px;
  background: white;
  overflow-y: auto;
  padding-top: 10px;
  background-color: #F4F6F7;
}
div.main-container > div.enter-area {
  width: 100%;
  height: 40px;
}
div.main-container > div.enter-area > form{
  width: 100%;
  height: 100%;
}
div.main-container > div.enter-area > form > input#message-ent{
  font-size: 22px;
  width: 750px;
  height: 105%;
  padding-left: 10px;
  left: 1px;
  background-color: #F4F6F7;
}
div.main-container > div.enter-area > form > input#message-send{
  border: none; /*remove styling */
  font-size: 22px;
  width: 20%;
  height: 105%;
  float: right;
  background-color: #00B7D1;
  color: white;
  cursor: pointer;
  /* border-bottom-style: solid; */
  /* padding-right: 10px; */
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);

.container {
    width: 400px;
    padding: 10px;
}

.message-blue {
    position: relative;
    margin-left: 55px;
    margin-bottom: 10px;
    margin-top: -14px;
    padding: 10px;
    background-color: #A8DDFD;
    width: 300px;
    height: 100px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #97C6E3;
    border-radius: 10px;
}

.picture-blue {
  position: relative;
  margin-left: 5px;
  margin-top: 5px;
}

.message-orange {
    position: relative;
    margin-bottom: 10px;
    margin-left: calc(100% - 400px);
    padding: 10px;
    background-color: #f8e896;
    width: 300px;
    height: 100px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #dfd087;
    border-radius: 10px;
}

.picture-orange {
  position: relative;
  margin-bottom: 10px;
  margin-left: calc(100% - 70px);
  margin-top: -25px;
}

.message-content {
    padding: 0;
    margin: 0;
    margin-top: 8px;
    font-size: 12pt;
}

.message-timestamp-right {
    position: absolute;
    font-size: 10pt;
    font-weight: 300;
    bottom: 5px;
    right: 18px;
}

.message-timestamp-left {
  position: absolute;
  font-size: 10pt;
  font-weight: 300;
  bottom: 5px;
  left: 245px;
}


.recall-my-message {
  position: absolute;
  font-weight: 300;
  left: 235px;
  background-color: #f8e896;
  border: transparent;
  cursor: pointer;
}


.message-blue:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid #A8DDFD;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 0;
    left: -15px;
}

.message-blue:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 17px solid #97C6E3;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    top: -1px;
    left: -17px;
}

.message-orange:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 15px solid #f8e896;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    bottom: 0;
    right: -15px;
}

.message-orange:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 17px solid #dfd087;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    bottom: -1px;
    right: -17px;
}

#root > div.chatroom > div.wrapper > div > div:nth-child(3) > div {
  position: absolute;
  left: 700px;
  z-index: 10;
  top: 245px;
}

.emoji-button {
  position: absolute;
  left: 780px;
  top: 675px;
  font-size: 30px;
}

.break-button {
  position: absolute;
  width: 250px;
  height: 150px;
  left: 1600px;
  top: 105px;
  z-index: 5;
  cursor: pointer;
}

/* history Container Style */
.messages-history-container{
  z-index: 5;
}

.no-messages {
  font-size: 25pt;
  text-align: center;
  padding-bottom: 15px;
}
