/* Homepage Style */

#background-video{

height: 100%;
width: 100%;
opacity: 0.8;
}

.app-name {
  position: absolute;
  font-size: 90pt;
  margin-top: 230px;
  /* text-align: center; */
  color: white;
  z-index: 3;
  left: 17%;
}

.home-button {
  position: absolute;
  margin-top: 80px;
  left: 40%;
}

#root > div > button {
  position: absolute;
  z-index: 3;
}

#root > div > div > button.ui.secondary.button {
  /* margin-left: 100px;
  left: 60%; */
  /* margin: 0,0,0,40px; */
}

/*Navbar style*/
#Navbar {
  margin-top: 20px;
  background-color: #6495ED;
  font-size: 15pt;
}

#user-name {
  text-align: center;
  font-size: 20pt;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-radius: 0;
  align-self: flex-end;
  margin-left: 330px;
  padding: .85714286em 1.14285714em;
  border-bottom-width: 2px;
  -webkit-transition: color .1s ease;
  transition: color .1s ease;
}

/* SignUpLogIn Style */


/* MainPage Style */
.ui.segment.violet.inverted {
  text-align: center;
}

#root > table > tbody > tr > th:nth-child(1) {
    width: 15%;
}

#root > table > tbody > tr > th:nth-child(3) {
  width: 20%;
}

#root > table > tbody > tr > th:nth-child(4) {
  width: 12%;
}

/* Chat Style */

#root > table > tbody > tr > td.join-btn {
  text-align: center;
}
